{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'productos/style_producto.css' %}">
    <title>Productos</title>
</head>
<body>
    <nav>
        <img src="{% static 'logo-kitkat.png' %}" alt="logo-kikat" id="logo">
        <a href="{% url 'index' %}">HOME</a>
        <a href="{% url 'producto' %}">PRODUCTOS</a>
        <a href="#">ENCUESTAS</a>
        <a href="#">CODIGO QR</a>
    </nav>
    <main>
        <div class="title">
            <h1>PRODUCTOS</h1>
            <h3 class="subtitle">AGREGAR PRODUCTO</h3>
        </div>
        <div id="control_product">
            <label for="name_p">Nombre:</label>
                <input type="text" id="name_p">
            <label for="category_p">Cataegoria: </label>
                <input type="text" id="category_p"><br>
            <label for="description_p">Descripcion del producto: </label><br>
                <input type="text" id="description_p"><br>
            <label for="image_p">Subir imagen:</label>
                <input type="file" id="image_p"><br>
            <button type="submit" id="submit_p">AGREGAR</button>
            </form>
        </div>
        <div class="title">
            <h3 class="subtitle">LISTA DE PRODUCTOS</h3>
        </div>
        <div id="product_list">
            <table>
                <thead>
                    <tr>
                        <th class="thead">Id</th>
                        <th class="thead">Nombre</th>
                        <th class="thead">Descripcion</th>
                        <th class="thead">Categoria</th>
                        <th class="thead">Imagen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>