{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'inicio/style_index.css' %}">
    <title>Analytics</title>
</head>
<body>
    <nav>
        <img src="{% static 'logo-kitkat.png' %}" alt="logo-kikat" id="logo">
        <a href="{% url 'index' %}">HOME</a>
        <a href="{% url 'producto' %}">PRODUCTOS</a>
        <a href="#">ENCUESTAS</a>
        <a href="#">CODIGO QR</a>
    </nav> 
    <main>
        <div id="title">
            <h1>GENERACION DE REPORTES</h1>
            <h3>Elije un producto:</h3>
        </div> 
        <div id="products">
            <label class="product">
                <input type="radio" name="opcion" value="opcion1">
                <span class="product_img">
                  <img src="{% static 'logo-kitkat.png' %}" alt="Opción 1">
                  <p>Kikat white</p>
                </span>
              </label>
            <label class="product">
                <input type="radio" name="opcion" value="opcion1">
                <span class="product_img">
                  <img src="{% static 'logo-kitkat.png' %}" alt="Opción 1">
                  <p>Kikat clasic</p>
                </span>
          </label>
        </div>
        <div id="options">           
                <label for="time_start">Fecha de inicio: </label>
                <input type="date" id="time_start">
                <label for="time_end">Fecha de fin: </label>
                <input type="date" id="time_end">
                <p>(opcional)</p><br>
                <button id="procesar">COMENZAR</button>
        </div>  
    </main>
</body>
</html>